:root {
   // Primary
   --color-primary: #548224;
   --color-primary-dark: #44691D;
   --color-primary-light: #D3F0B5;
   --color-primary-lighter: #E6F6D6;
   // Secondary
   --color-secondary: #576164;
   --color-secondary-dark: #4F595C;
   --color-secondary-light: #949C9E;
   --color-secondary-lighter: #C7CCCF;
   // UI
   --color-title: #484848;
   --color-text: #4F595C;
   --color-link: #00A1EF;
   --color-border: rgba(0, 0, 0, 0.1);
   --color-success: #348538;
   --color-warning: #F57C00;
   --color-error: #DB3131;
   // Contrast
   --color-white: #FFFFFF;
   --color-off-white: #F0F0F5;
   --color-black: #000000;
   --color-success-contrast: #DFF2E0;
   --color-warning-contrast: #FFE3C6;
   --color-error-contrast: #F6D3D3;
   --color-canvas: #F5F6F8;

     // NFD Module Overrides (wp-module-performance, etc.)
    --nfd-color-primary: #548224;
    --nfd-color-primary-dark: #44691D;
    --nfd-color-primary-light: #D3F0B5;
    --nfd-color-primary-lighter: #E6F6D6;
    --nfd-color-secondary: #576164;
    --nfd-color-secondary-dark: #4F595C;
    --nfd-color-secondary-light: #949C9E;
    --nfd-color-secondary-lighter: #C7CCCF;
    --nfd-color-title: #484848;
    --nfd-color-body: #4F595C;
}

// Crazy Domains Brand Override - Higher specificity to override module styles
.nfd-root,
.nfd-brand--crazy-domains,
body .nfd-root {
    --nfd-color-primary: #548224;
    --nfd-color-primary-dark: #44691D;
    --nfd-color-primary-light: #D3F0B5;
    --nfd-color-primary-lighter: #E6F6D6;
    --nfd-color-secondary: #576164;
    --nfd-color-secondary-dark: #4F595C;
    --nfd-color-secondary-light: #949C9E;
    --nfd-color-secondary-lighter: #C7CCCF;
    --nfd-color-title: #484848;
    --nfd-color-body: #4F595C;
}

html {
    @media screen and (min-width: 782px) {
        overflow: -moz-scrollbars-vertical; 
        overflow-y: scroll;
    }
}

body.toplevel_page_crazy-domains {
    --wp-admin-theme-color: var(--color-primary);
    --wp-admin-theme-color-darker-10: var(--color-primary-dark);
    --wp-admin-theme-color-darker-20: var(--color-title);
    --wp-admin-border-width-focus: 2px;
    --crazydomainsbrand-focus: inset 0 0 0 1px var(--color-white),0 0 0 var(--wp-admin-border-width-focus) var(--color-primary);
    
    a {
        color: var(--color-link);
    }
    
    @media screen and (max-width:782px) {
        .wp-responsive-open #wpbody {
            right: -190px; // only when mobile admin menu open
        }
    }
    #wpwrap {
        background-color: var(--color-canvas);
    }
    #wpcontent {
        padding-left: 0 !important;
    }

    #wpadminbar .ab-top-menu {
        li {
            transition: opacity .33s ease;
        }
        .hideme {
            max-height: 32px;
            opacity: 0;
            overflow: hidden;
            pointer-events: none;
            width: 0;
        }
    }
    
    #wpbody-content .notice,
    #wpbody-content #dolly,
    #wpbody-content .update-nag {
        display: none;
    }
    #wpbody-content .newfold-notifications-wrapper .notice {
        display: block;
    }

}
.wppcd {
    // color: var(--color-text);

    // h1, h2, h3, h4, h5, h6 {
    //     color: var(--color-title);
    //     font-weight: 700;
    // }
    // .wppcd-nav a {
    //     color: var(--color-black);
    // }
    // p, div {
    //     color: var(--color-text);
    //     font-size: 15px;
    //     font-weight: 400;
    //     line-height: 1.45;
    // }
    .components-card__body .components-toggle-control .components-base-control__field .components-toggle-control__label,
    .components-card__body .components-input-control__label,
    .components-card__body .components-input-control__label *,
    .components-card__body .components-radio-control__option label strong {
        color: var(--color-text);
    }

    .components-button {
        font-size: 15px;
        font-weight: 500;
        transition: all 0.25s ease;
        white-space: nowrap;

        .dashicons, .dashicons-before:before {
            transition: all .25s ease;
        }

        &:focus:not(:disabled) {
            box-shadow: var(--crazydomainsbrand-focus);
        }

        &.is-primary,
        &[variant="primary"] {
            background-color: var(--color-primary);
            color: var(--color-white);
        }

        &.is-secondary,
        &[variant="secondary"] {
            border-color: var(--color-primary);
            box-shadow: inset 0 0 0 1px var(--color-primary);
            color: var(--color-primary);
        }

        &:last-child {
            padding-right: 1rem; /* <= WP 5.8 */
        }

        &.has-icon {
            padding-right: 1rem;

            .dashicon {
                margin-right: 10px; /* <= WP 5.6 */
            }
        }
    }
    a:focus {
        box-shadow: var(--crazydomainsbrand-focus);
        outline: 0;
    }
    .components-base-control__help,
    .components-radio-control__option label span span {
        color: var(--color-text);
        margin-top: 0.25rem;
    }
}
.wppcd, .wppcd * {
    box-sizing: border-box;
}

// .wppcd-app-body {
//     padding: 18px 24px 0;
//     &-inner {
//         max-width: 1290px;
//         margin-left: auto;
//         margin-right: auto;
//         width: 100%;
//     }
// }

.components-snackbar__content {
    color: var(--color-off-white) !important;
}

.grid {
    display: grid;
    gap: clamp(0.5rem, calc(1rem + 1vw), 2rem);
    padding: 0.5rem;
    &.col2,
    &.col3,
    &.col4 {
        @media screen and (min-width: 600px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
    &.col3,
    &.col4 {
        @media screen and (min-width: 800px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
    &.col4 {
        @media screen and (min-width: 1020px) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }
}

.wppcd-app-snackbar {
    padding: 0 24px;
    position: relative;

    .components-snackbar-list {
        bottom: .5rem;
        position: fixed;
    }
}


.has-page-graphic {
    padding-bottom: 26rem;
}

.wppcd-page-graphic {
    bottom: 3.5rem;
    opacity: .5;
    position: absolute;
    right: 1rem;
    z-index: -1;
}

.wppcd {
    .components-card {
        box-shadow: inset 0px 0px 0px 1px var(--color-border);

        &.short {
            margin-bottom: auto;
        }

        &.disabled {
            opacity: .5;
        }
    }

    .components-card-body,
    .components-card__body {

        &.disabled {
            opacity: .5;
        }
    }
}

.nfd-disabled {
    opacity: .5;
    pointer-events: none;
}

.nfd-root .nfd-details {

    summary {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 2rem;
    }

    .nfd-details-icon {
        flex-shrink: 0;
        font-size: 2rem;
        transform: rotate(180deg);
        width: 2rem;
        transition: color 0.25s ease;
    }

    &[open] {
        .nfd-details-icon {
            transform: rotate(0deg);
        }
    }

    &:hover,
    &[open] {
        .nfd-details-icon {
            color: var(--color-primary);
        }
    }
}

.performance-fill .nfd-page > div:first-child {
    display: none;
}

#coming-soon-portal{
    .nfd-coming-soon-content.md\:nfd-flex-row-reverse .nfd-flex.nfd-flex-col.nfd-gap-2.nfd-w-full.md\:nfd-w-1\/2 {
        justify-content: center;
    }
}

.wppcd-app-body-inner {
    max-width: 1290px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.wppcd-app-body {
    padding: 2rem 24px 1rem;
}

.wppcd-logo-wrap svg {
    width: 190px;
}